            </div>
        </div>
    </div>    
    <footer>
        <%- startTagName([ { name : 'p', param : { id : 'signature', }, }, ]); %>
        <%- endTagName([ { name : 'p' }, ]); %>
        <%- startTagName([ { name : 'p', param : { id : 'timer', }, }, ]); %>
        <%- endTagName([ { name : 'p' }, ]); %>
    </footer>
    <%- typeof isGJSMFile !== 'undefined' ? isGJSMFile : ''; %>
    <%- typeof isPJSMFile !== 'undefined' ? isPJSMFile : ''; %>
</body>
<%- include('./script'); %>
</html>