    </div>    
    <footer>
        <%- '<p id=\"signature\"></p>'; %>
        <%- '<p id=\"timer\"></p>'; %>
    </footer>
    <%-
        typeof isGlobalJSFile !== 'undefined' ? isGlobalJSFile : '';
    %>
    <%-
        typeof isPageJSFile !== 'undefined' ? isPageJSFile : '';
    %>
    <%-
        typeof scriptModule !== 'undefined' ? scriptModule : '';
    %>
</body>
</html>