<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./link'); %>
    <!-- <script src="https://kit.fontawesome.com/0c783909db.js" crossorigin="anonymous"></script> -->
    <%- typeof isGCSSFile !== 'undefined' ? isGCSSFile : ''; %>
    <%- typeof isPCSSFile !== 'undefined' ? isPCSSFile : ''; %>
    <%- typeof isPageTitle !== 'undefined' ? '<title>' + getFirstUpperCase(isPageTitle) + '</title>' : ''; %>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <div id="container">
        <%- include('./navbar'); %>